/* Main Stylesheet*/


/* Color palette*/
$primary-color: pink;
$secondary-color: #545454;


body {
    background: $primary-color;
}

.one, .two {
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;

    
}
*//     white-space: nowrap;    //*



.a, .b {
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
}

main article p {
    color: $secondary-color;
}

a:link{
    text-decoration: none;
    color: $secondary-color;
}
li {
    margin-left: 4em;
  list-style-type: square;
  color:  $secondary-color;
  
}
a:hover {
    color: #efebad;
    transform: scale(1.2);
    transition: transform .75s;
}
a:visited{
    color: #B4A388;
}

footer{
    color: $secondary-color;
    opacity: 0.5;
}

video { 
  display: block;
    max-width: 100%;
    width: 100%;
}