/* Main Stylesheet*/


/* Color palette*/
$primary-color: pink;
$secondary-color: Grey;

body {
    background: pink;
}

h1 {
    
    text-transform: uppercase;
}



video { 
  display: block;
    max-width: 100%;
    width: 100%;
}