/* Main Stylesheet*/


/* Color palette*/
$primary-color: pink;
$secondary-color: #545454;

body {
    background: $primary-color;
}

.one, .two {
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
}

.a, .b {
    color: $secondary-color;
    text-align: center;
    text-transform: uppercase;
}



video { 
  display: block;
    max-width: 100%;
    width: 100%;
}